.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1.5vw;
    height: 5rem;
    border: 2px solid green;

}

.nav > h1{
    font-size: 2.5rem;
}
.nav > ul {
    display: flex;
    gap: 30px;
}
li{
    list-style: none;
    font-size: 1.2rem;
}

.nav > button{
    padding: 8px 40px;
    border-radius: 4px;
    font-size: .9rem;
}