.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 1.5vw 0px;
    height: .5rem;
}

.nav > img{
    width: 5vw;
}
.nav > ul {
    display: flex;
    gap: 1.1vw;
    font-weight: 400;
}
li{
    list-style: none;
    font-size: 1rem;
}

.nav > button{
    padding: 10px 50px;
    border-radius: 2px;
    font-size: 1rem;
    background-color: black;
    color: #fff;
    border: 1px solid transparent;
}